@model ServiceLocator.Models.CustomerPageViewModel

<div class="container-fluid" style="width: 100%;">
    <div class="row">
        <h1 style="font-weight: bold; height: 50px;" class="bord col-12">Service Locator</h1>
    </div>


<div class="output-container col-3">

</div>




    <div id="describe-container" class="providersdescribe-container col-6"></div>