html, body {
    height: auto;       /* so they only wrap the content */
    margin: 0;          /* remove default margin */
    padding: 0;         /* remove default padding */
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body.homepage-background {
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}



.page-title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 50px;
  background-color: #00ccd7;
  color: #f0f0f0; /* off-white text */
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 600;
  display:flex;
  padding-left: 630px;
}

.labels {
  background-color: #00ccd7;
  color: #f0f0f0; /* off-white text */
  font-weight: bold;
}


.main-container {
  width: 800px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.button {
  background-color: #00ccd7;
  color: #f0f0f0; /* off-white text */
  font-size: 25px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: none; /* remove black border */
  text-decoration: none;
}

.button:hover {
  background-color: #009dff; /* slightly darker on hover */
}

.login-button {
  font-size: 28px;
  height: 70px;
  border-radius: 6px;
}

.image {
  display: flex;
  padding-top: 0; /* remove top padding */
  margin-top: -400px; /* move it up by 50px */
  padding-left: 1400px;
}

.bord {
  border: 2px solid black;
  background-color: #00ccd7;
  color: #f0f0f0;
}

.phases{
  background-color: black;
  color: white;
  border: 2px solid white;
}


body.homepage-backgrounds {
    background-color: black;
}

.color{
  background-color: black;
  color: white;
}

.output-container {
    display: flex;
    flex-direction: column; /* stacks children vertically */
    overflow-y: auto;
    gap: 10px;              /* optional spacing between items */
    height: 75vh;
    margin-left: 20px;
    border: 2px solid #ccc; /* optional border */
    box-sizing: border-box;
    margin-top: 27px;
    cursor: pointer;
}

.output-item {
    color: white;
    font-size: 25px;
    height: 200px;
    width: 100%;
    border: 1px solid #ccc; /* optional border */
    padding: 10px;    /* optional padding */
    cursor:pointer;
}

.horizontal-line {
  height: 2px;
  width: 100%;
  margin-top:50px;
  background-color: white;
}

.describe-container{
  border: 2px solid #ccc; /* optional border */
  height: 75vh;
  left: 35%;
  top: 20%;
  position:fixed;
}

/* Medium screens (laptops, tablets) */
@media (max-width: 1700px) {
  .describe-container {
    top: 35% !important; /* push it lower */
    left: 30% !important; /* adjust if needed */
    height: 60vh;
    
  }
}

.white{
  color: white;
}
